---
layout: general
description: See all supported executables on __SITE__.
redirect_from:
 - /entries/windows/:program.html
---
{% assign entry = page.entries | first %}
{% capture program %}{%include name page=entry %}{% endcapture -%}
<h1 data-platform="{{entry.platform}}">{{ program }}</h1>
It was found that on {{entry.operatingSystem | append: " " | append: entry.operatingSystemVersion }}, <code>{{ program }}</code> command lines can be obfuscated with the following techniques:
<ul>
    {% for item in site.mapping -%}
    {%- assign x = item[0] -%}
    {%- assign details = entry.parameters.modifiers[x] -%}
    {%- if details -%}
    <li>
        <strong>{{ item[1].name }}</strong>: {{ item[1].description }}{% if entry.platform != 'windows' %}
        {%- assign options = "" %}{% for argument in entry.parameters.command offset:0%}{%for breakdown in argument%}{%if details.AppliesTo contains breakdown[0]%}{% assign options = options | append:breakdown[1] | append:"||"%}{%endif%}{%endfor%}{%endfor%}{% assign testcase = options | split: "||" | where_exp:'a','a' | sample %}
        {% else %}
        {%- assign options = "" %}{% for argument in entry.parameters.command offset:1%}{%for breakdown in argument%}{%if details.AppliesTo contains breakdown[0]%}{% assign options = options | append:breakdown[1] | append:"||"%}{%endif%}{%endfor%}{%endfor%}{% assign testcase = options | split: "||" | where_exp:'a','a' | sample %}
        {%endif%}
        <div class="collapsed">Example: <code>{{ testcase }}</code> is functionally equivalent to <code data-process="{{x}}">{{ testcase }}</code></div>
    </li>
    {% endif -%}
    {%- endfor -%}
</ul>

</section>
<script src="{{'/assets/js/lolbas.js' | relative_url }}" async></script>
<section>
    <h2>Obfuscate <code>{{ program }}</code> commands</h2>
    <p id="profile-selected">(none)</p>
    <menu class="context-menu ctx">
        <li data-type="disabled">Ignore</li>
        <li data-type="command">Program Name</li>
        <li data-type="argument">Regular Argument</li>
        <li data-type="path">File Path</li>
        <li data-type="url">URL</li>
        <li data-type="value">Value</li>
    </menu>
    <div>
        <div class="tools">
            <textarea id="input-command" data-target="{{ page.url|replace:'executables/','assets/models/'|replace:'/windows/','/'|replace:'/linux/','/'|replace:'/mac/','/'|replace:'.html', '.json'|relative_url }}" data-profile-id="{{ entry.profileID }}" data-program="{{ program }}" placeholder="Paste a valid {{ program }} command here…" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
            <div class="command-bar">
                <div id="tokens"></div>
                <div><a class="button button-primary button-toggle" data-target="obfuscation-options"><strong>Show options</strong></a> <a class="button button-primary {%assign profileCount = page.entries | size %}{% if profileCount <= 1%}collapsed{%endif%}" id="button-profile" aria-haspopup="listbox" aria-expanded="false" role="combobox" tabindex="3" aria-controls="menu-profiles"><strong><span id="profiles-available">{{ profileCount }}</span> profiles available ⚠️</strong></a><menu class="context-menu" id="menu-profiles" aria-labelledby="button-template" tabindex="-1" role="listbox"></menu> <a class="button button-inverted" id="obfuscation-run"><strong>Apply obfuscation</strong></a></div>
            </div>
            <div id="error-messages"></div>
        </div>

        <fieldset>
            <legend>Output</legend>
            <div class="output-controls">
                <button type="button" class="button button-primary collapsed" id="button-copy">Copy 📋</button>
                <div id="output-command"></div>
            </div>
        </fieldset>
        <fieldset class="collapsed" id="obfuscation-options">
            <legend>Options</legend>
            <div>
                <div id="options-panel">
                    <menu class="context-menu" id="menu-profiles" aria-labelledby="button-template" tabindex="-1" role="listbox">
                    </menu>
                    <div class="picker">
                        <div class="button-selection">
                            <a class="button button-toggle" data-target="options-accepted-arguments" id="accepted-arguments" data-visit-click="Argument-Edit" tabindex="4"><strong>Show accepted arguments</strong></a>
                            <a class="button" id="download-config" download="config-export.json" data-visit-click="JSON-Download-entry"><strong>Download config</strong></a>
                            <a class="button" id="reset-form"><strong>Reset</strong></a>
                        </div>
                    </div>
                </div>
                <div id="options-accepted-arguments" class="collapsed">
                    <textarea id="accepted-arguments-list" placeholder="Optionally, you can define all accepted arguments (as well as their expected value count) here.

Format:
argument[,argument,...] value-count [r]

e.g.
--help 0
--output,-o 1
--verbose,-v 0 r"></textarea>
                </div>
                <div id="options-panel-options"></div>
            </div>
        </fieldset>
    </div>
</section>
<section>
    <h2>Related</h2>
    <div id="related-links" class="button-selection"><a href="{%if entry.platform=='windows'%}https://ss64.com/nt/{{ program | replace:" .exe", "" }}.html{%elsif entry.platform=='mac'%}https://ss64.com/mac/{{ program }}.html{%else%}https://manpages.org/{{program}}{%endif%}" class="button" target="_blank" title="Documentation for '{{ program }}'">↗️ Documentation for <code>{{ program }}</code></a><a href="{{'/' | relative_url }}" class="button">🔀 More obfuscation techniques</a></div>
</section>
<section>
    {% include faqs.html %}
