---
description: Redirect
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting...</title>
  <link rel="canonical" href="{{ page.url | replace:'/entries','/executables'}}"/>
  <meta http-equiv="refresh" content="0;url={{ page.url | replace:'/entries','/executables'}}" />
</head>
<body>
  <h1>Redirecting...</h1>
  <a href="{{ page.url | replace:'/entries','/executables'}}">Click here if you are not redirected.</a>
  <script>location="{{ page.url | replace:'/entries','/executables'}}"</script>
</body>
</html>
