---
layout: general
description: Generate obfuscated command-line arguments for common system-native executables now with __SITE__.
header: |
            <div class="tools">
                            <textarea id="input-command" placeholder="Please paste the command you want to obfuscate here…" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
                            <div class="command-bar">
                                <div id="feeling-lucky"><a>Click here to try a random command</a></div>
                                <div id="tokens"></div>
                                <div class="controls">
                                    <a class="button button-primary collapsed" id="button-profile" aria-haspopup="listbox" aria-expanded="false" role="combobox" tabindex="3" aria-controls="menu-profiles"><strong><span id="profiles-available">0</span> profiles available ⚠️</strong></a>
                                    <menu class="context-menu" id="menu-profiles" aria-labelledby="button-template" tabindex="-1" role="listbox"></menu>

                                    <a class="button button-primary" id="obfuscation-run" tabindex="1"><strong>Apply obfuscation</strong></a>
                                </div>
                            </div>
                            <div id="error-messages"></div>
                            <span id="profile-selected"></span>
                        </div>
---

        <menu class="context-menu ctx">
            <li role="option" data-type="disabled">Ignore</li>
            <li role="option" data-type="command">Program Name</li>
            <li role="option" data-type="argument">Regular Argument</li>
            <li role="option" data-type="path">File Path</li>
            <li role="option" data-type="url">URL</li>
            <li role="option" data-type="value">Value</li>
        </menu>

        <fieldset>
            <legend>Output</legend>
            <div class="output-controls">
                <button type="button" class="button button-primary collapsed" id="button-copy">Copy 📋</button>
                <div id="output-command"></div>
            </div>
        </fieldset>

        <fieldset class="collapsible">
            <legend>Options</legend>
            <div class="collapsed">
                <div id="options-panel">
                    <div class="picker">
                        <menu class="context-menu" id="menu-templates" aria-labelledby="button-template" tabindex="-1" role="listbox">
                            <li role="option" data-function="none">(none)</li>
                            <li role="option" data-function="upload">⇡ Upload file…</li>
                            {% assign operating_systems = "windows,linux,mac" | split: ',' %}
                            {% for os in operating_systems %}
                            <strong>{{os | capitalize}}</strong>
                                {% for entries in site.executables -%}
                                {% assign entry = entries.entries | first -%}
                                {%- if entry.platform == os -%}
                            <li role="option" id="format_{{ entries.url | replace:'/executables/', '' |replace:'/','_' | replace:'.html','' }}" data-target="{{ entries.url|replace:'executables/','assets/models/'|replace:os,''|replace:'.html', '.json'|relative_url }}"{% if entry.alias %} data-alias="{{ entry.alias | first }}"{%endif%}>{{ entries.slug }}{% if os == 'windows' %}.exe{% endif %}</li>
                                    {%- endif -%}
                                {%- endfor %}
                            {%- endfor %}
                        </menu>

                        <label for="json-file"><input type="file" id="json-file" accept=".json" /></label>
                        <div class="button-selection">
                            <a class="button" id="button-template" aria-haspopup="listbox" aria-expanded="false" role="combobox" tabindex="2" aria-controls="menu-templates"><strong>Selected template</strong>: <span id="template-selected">(none)</span></a>
                            <a class="button button-toggle" data-target="options-accepted-arguments" id="accepted-arguments" data-visit-click="Argument-Edit" tabindex="4"><strong>Show accepted arguments</strong></a>
                            <div class="fill"></div>
                            <a class="button" id="download-config" download="config-export.json" data-visit-click="JSON-Download" tabindex="5"><strong>Download config</strong></a>
                            <a class="button" id="reset-form" tabindex="6"><strong>Reset</strong></a>
                        </div>
                    </div>
                </div>
                <div id="options-accepted-arguments" class="collapsed">
                    <textarea id="accepted-arguments-list" placeholder="Optionally, you can define all accepted arguments (as well as their expected value count) here.

Format:
argument[,argument,...] value-count

e.g.
--help 0
--output,-o 1
--verbose,-v 0"></textarea>
                </div>
                <div id="options-panel-options"></div>
            </div>
        </fieldset>
