---
layout: general
title: Entries
---
<h2>All supported entries ({{ site.entries | size }})</h2>

<h3>Windows</h3>
For a comparison of the obfuscation capabilities per executable, see <a href="{{ '/entries/comparison.html' | relative_url }}">comparisons</a>.

<ul class="dynamic-columns">
{%- for page in site.entries %}
    {% if page.url contains "/windows/" %}
    <li><a href="{{ page.url | relative_url | replace: 'http:', 'https:'}}">{% include name page=page %}</a>{% if page.alias %} (and <code>{{page.alias}}</code>){% endif%}</li>
    {% endif %}
{%- endfor %}
</ul>

<h3>Linux</h3>
<ul class="dynamic-columns">
{%- for page in site.entries %}
    {% if page.url contains "/linux/" %}
    <li><a href="{{ page.url | relative_url | replace: 'http:', 'https:'}}">{% include name page=page %}</a>{% if page.alias %} (and <code>{{page.alias}}</code>){% endif%}</li>
    {% endif %}
{%- endfor %}
</ul>

<h3>MacOS</h3>
Coming soon.
